*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;height:auto;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
body {
    position: relative;
    background: #1b1b1b;
    color: #fff;
    font-family: "SF Compact Display", Arial, sans-serif;
    overflow-x: hidden;
}
/*
 * Common
 */
.green {
    color: #66FF66;
}
header,
main {
    max-width: 1580px;
    margin: 0 auto;
}
/*
 * Header
 */
header {
    margin-top: 25px;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
}
.talk {
    align-self: center;
    margin-left: auto;
    padding: 0;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}
.talk .text {
    color: #fff;
    font-size: 16px;
    line-height: 1.43em;
    font-weight: 300;
    margin-right: 16px;
    transition: all .25s ease-in-out;
}
@media screen and (min-width:768px) {
    .talk .text {
        font-size: 22px;
        margin-right: 32px;
    }
}
.talk .icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s ease-in-out;
}
.talk .icon svg {
    width: 50%;
}
@media screen and (min-width:768px) {
    .talk .icon {
        width: 62px;
        height: 62px;
    }
    .talk .icon svg {
        width: 100%;
    }
}
.talk:hover .text,
.talk:focus .text {
    color: #66FF66;
}
.talk:hover .icon,
.talk:focus .icon {
    color: #fff;
    background: #66FF66;
}
/*
 * Headline
 */
h1 {
    margin: 48px 0;
    font: normal normal bold 50px/1em freight-big-pro, serif;
    letter-spacing: 0px;
    max-width: 1300px;
    padding-right: 16px;
    padding-left: 16px;
}
@media screen and (min-width:768px) {
    h1 {
        margin: 64px 0 56px;
        font-size: 80px;
    }
}
@media screen and (min-width:1025px) {
    h1 {
        margin: 96px 0 80px;
        font-size: 120px;
    }
}
/*
 * About Section
 */
.about {
    position: relative;
    padding-bottom: 120px;
    padding-right: 16px;
    padding-left: 16px;
}
.contact .button {
    display: inline-block;
    margin: 24px 0;
    padding: 24px;
    border: 1px solid #fff;
    border-radius: 50px;
    background: #1b1b1b;
    font: normal normal 300 16px/1.43em "SF Compact Display", Arial, sans-serif;
    letter-spacing: 0px;
    color: #66FF66;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.contact .button:after {
    content: "";
    display: inline-block;
    position: relative;
    top: -7px;
    width: 54px;
    height: 1px;
    margin-left: 30px;
    background: #fff;
    transition: all .25s ease-in-out;
}
.contact .button:hover:after,
.contact .button:focus:after {
    width: 94px;
}
@media screen and (min-width:768px) {
    .contact .button {
        padding: 36px 48px;
        font-size: 22px;
    }
    .contact .button:after {
        width: 94px;
    }
    .contact .button:hover:after,
    .contact .button:focus:after {
        width: 144px;
    }
}
@media screen and (min-width:1125px) {
    .contact .button {
        margin: 27px 0 0;
    }
}
.contact:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    margin-left: calc( 100% - 120vw);
    height: 200px;
    background: url(./pattern.svg) repeat-x transparent;
    z-index: 5;
}
@media screen and (min-width:850px) {
    .contact:after {
        margin-left: calc( 100% - 110vw);
        height: 300px;
    }
}
@media screen and (min-width:1200px) {
    .contact:after {
        margin-left: calc( 100% - 110vw);
        height: 390px;
    }
}
@media screen and (min-width:1480px) {
    .contact:after {
        margin-left: calc( 100% - 110vw);
        height: 490px;
    }
}
.columns {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
}
.columns > picture {
    width: 90%;
}
.columns > p {
    align-self: flex-end;
    font: normal normal 300 16px/24px "SF Compact Display", Arial, sans-serif;
    padding: 0 24px 24px;
    margin: 0;
}
.columns > div {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-align: right;
    /*margin-left: 16px;*/
    font-weight: 300;
}
@media screen and (min-width:768px) {
    .columns > p {
        flex: 1;
        padding-left: 48px;
        padding-right: 24px;
        font-size: 24px;
        line-height: 43px;
    }
    .columns > picture {
        flex: 1;
    }
    .columns > div {
        margin-left: 56px;
    }
}
@media screen and (min-width:1025px) {
    .columns > p {
        padding-right: 240px;
        font-size: 30px;
    }
}
.heart {
    transform: rotate(180deg);
    margin-top: 10px;
}
/*
 * Slider Section
 */
.medida-office {
    position: relative;
    padding: 32px 16px;
    border-top: 1px solid #707070;
    text-align: center;
}
@media screen and (min-width:1025px) {
    .medida-office:after {
        position: absolute;
        right: 0;
        top: -1px;
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        margin-right: -100%;
        background: #707070;
    }
}
.medida-office .title {
    padding-bottom: 32px;
    font: normal normal normal 18px/1.5em "SF Compact Display", Arial, sans-serif;
    letter-spacing: 0px;
    text-align: left;
}
@media screen and (min-width:768px) {
    .medida-office {
        padding: 56px 16px;
    }
}
@media screen and (min-width:1024px) {
    .medida-office {
        display: flex;
        padding: 200px 16px;
    }
    .medida-office .title {
        width: 400px;
        text-align: center;
        font-size: 30px;
        line-height: 33px;
    }
    .medida-office .slider {
        flex: 1;
    }
}
.medida-office .slider {
    display: grid;
    column-gap: 1rem;
    grid-auto-flow: column;
    overflow-x: scroll;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -16px;
    margin-right: -16px;
}
.medida-office .slider:after {
    content: "";
    width: .5rem;
}
.medida-office .slider::-webkit-scrollbar {
    display: none;
}
.medida-office .slide {
    max-width: 300px;
}
@media screen and (min-width:768px) {
    .medida-office .slide {
        max-width: inherit;
    }
}

.medida-office .slide img,
.medida-office .slide picture {
    max-width: inherit;
    margin-bottom: 40px;
}
.medida-office .slide span {
    font: normal normal medium 12px/1.5em "SF Compact Display", Arial, sans-serif;
    letter-spacing: 1.08px;
    color: #66FF66;
}
.medida-office .slide p {
    margin-top: 10px;
    font: normal normal normal 16px/1.5em "SF Compact Display", Arial, sans-serif;
    letter-spacing: 0px;
}
@media screen and (min-width:768px) {
    .medida-office .slide span {
        font-size: 18px;
        line-height: 33px;
    }
    .medida-office .slide p {
        font-size: 26px;
        line-height: 33px;
    }
}

/*
 * Cookie Section
 */
#cookieConsent {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 670px;
    background: #66FF66;
    color: #17181A;
    padding: 40px 25px;
    z-index: 100;
}
@media screen and (min-width:768px) {
    #cookieConsent {
        padding: 50px 50px 44px 150px;
    }
} 
#cookieConsent p {
    max-width: 370px;
    margin-bottom: 24px;
    font: normal normal bold 16px/22px Helvetica, Arial, sans-serif;
    letter-spacing: 0px;
}
@media screen and (min-width:768px) {
    #cookieConsent p {
        margin-bottom: 42px;
    }
} 
#cookieConsent .accept {
    background: #fff;
    min-width: 110px;;
    padding: 10px;
    border: none;
    font: normal normal bold 18px/34px "Open Sans", Arial, sans-serif;
    letter-spacing: 0px;
    color: #11CC55;
    cursor: pointer;
    transition: all .25s ease-in-out;
}
#cookieConsent .close {
    position: absolute;
    top: 22px;
    right: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #17181A;
    transition: all .25s ease-in-out;
}
#cookieConsent .accept:hover,
#cookieConsent .accept:focus {
    background: #17181A;
    color: #fff;
    outline: none;
}
#cookieConsent .close:hover,
#cookieConsent .close:focus {
    color: #fff;
    outline: none;
}